
<div class="cart">
  <div class="cart-title">
    <h3>Your shopping basket</h3>
  </div>

  <p>These are the items you selected and would like to purchase:</p>

  {{display-cart}}
</div>

<!--we need to put a delete button-->




<!-- <button>back to checking out the art</button> -->
<button>{{#link-to 'index'}}Continue to check-out the art{{/link-to}}</button>
